/* header  */
.nav__container-logo {
    display: block;
    margin: 0px auto;
    width : 50%;
}

.nav__container {
    background: linear-gradient(45deg, white,#00CED1,#00CED1, #5F9EA0,white);
}

@media screen and (width >= 800px) {
    .nav__container-logo{
        width: 80%;
    }
    .navbar-toggler-icon {
        font-size: 2.5rem;
    }
}

.navbar-toggler-icon {
    font-size: 1.8rem;
}

/* body */
body {
    background-color: #e6fff7;
}

/* Sections */
.container__asso, .container__cats-title, .container__kitten-title {
    border: solid 2px #1f7a7a;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-decoration: underline;
    padding: 15px;
    border-radius: 20px;
}

.container__asso{
    background: linear-gradient(45deg, white,#00CED1,#00CED1, #5F9EA0,white);
}

.container__cats-title {
    background: linear-gradient(45deg, white, #ac7339, white);
}

.container__kitten-title {
    background: linear-gradient(45deg, #e0e0eb, #a2a2c3, #e0e0eb);
}


/* section 1 */
.container__asso-history, .container__asso-day {
    font-size: 28px;
}

.container__asso-history-title, .container__asso-day-title {
    margin-left: 20%;
    font-weight: bold;
    font-size: 40px;
    border-radius: 20px;
    padding: 15px 70px;
    border: solid 3px #1f7a7a;
}

.container__asso-history-title {
    background-color: #70dbdb;
}

.container__asso-day-title {
    background-color: #2eb8b8;
}

.container__asso-history-title:hover {
    background-color: #66b3ff;
}

.container__asso-day-title:hover {
    background-color: #66ffcc;
}

.container__asso-history-title:hover ~ .container__asso-history-text {
        opacity: 1;
        pointer-events:inherit;
        position : relative;
        background-color: #66b3ff;
        text-align: justify;
}

.container__asso-history-text, .container__asso-day-text {
    font-size: 28px;
    opacity: 0;
    pointer-events: none;
    position : absolute;
    transition: all 1s ease-out;
}

.container__asso-day {
    position: relative;
}

.container__asso-day-title:hover ~ .container__asso-day-text {
        opacity: 1;
        pointer-events:inherit;
        position : relative;
        background-color: #66ffcc;
}

/* section 2 & 3*/

.cats, .kitten {
    margin-top: 80px;
    margin-bottom: 30px;
}

.cats {
    background-color: #e6ccb3;
}

.kitten {
    background-color: #b3b3cc;
}

.container__cats-text {
    text-align: center;
    font-size: 20px;
}

.container__cats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (width >= 800px) {
    .container__cats{
        flex-direction: row;
    }
}

.img-head {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top : 50px;
    border-radius: 20px;
}

/* card  */

.card {
    padding: 3px;
    margin: 10px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-img-top {
    max-width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* footer */

.container__footer {
    display: flex;
    border: solid 2px black;
    border-radius: 20px;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.container__footer-title {
    text-align: center;
    background-color: aliceblue;
    margin-top: 30px;
    font-size: 25px;
    border-radius: 20px;
}

.container__footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__footer-contact {
    text-align: center;
    font-size: 20px;
}

span {
    font-weight: bolder;
}

a {
    color: black;
}

footer {
    background: linear-gradient(45deg, white,#00CED1,#00CED1, #5F9EA0,white);
}