.nav__container-logo {
    display: block;
    margin: 0px auto;
    width : 50%;
}

.navbar {
    background: linear-gradient(45deg, white,#00CED1,#00CED1, #5F9EA0,white);
}

@media screen and (width >= 800px) {
    .nav__container-logo{
        width: 80%;
    }
}

section {
    background-color: rgba(128, 128, 128, 0.082);
}

main {
    background-color: rgba(128, 128, 128, 0.082);
}

.container__asso {
    background-color: green;
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 30px;
}

.container__asso-history {
    background-color: grey;
    font-size: 28px;
}

.container__asso-history-title {
    background-color: aqua;
    margin-left: 20%;
    font-weight: bold;
    font-size: 40px;
    border-radius: 20px;
    padding: 15px 70px;
    border: solid 3px blue;
}

.container__asso-history-title:hover {
    background-color: pink;
}

.container__asso-history-title:hover ~ .container__asso-history-text {
        opacity: 1;
        pointer-events:inherit;
        position : relative;
}

.container__asso-history-text {
    background-color: orange;
    font-size: 28px;
    opacity: 0;
    pointer-events: none;
    position : absolute;
    transition: all 0.5s ease-out;
}

.container__asso-day {
    background-color: yellow;
    font-size: 28px;
    position: relative;
}

.container__asso-day-title {
    background-color: blue;
    margin-left: 20%;
    font-weight: bold;
    font-size: 40px;
    border-radius: 20px;
    padding: 15px 70px;
    border: solid 3px aqua;
}

.container__asso-day-title:hover {
    background-color: pink;
}

.container__asso-day-title:hover ~ .container__asso-day-text {
        opacity: 1;
        pointer-events:inherit;
        position : relative;
}

.container__asso-day-text {
    background-color: brown;
    opacity: 0;
    pointer-events: none;
    position : absolute;
    transition: all 0.5s ease-out;
}

.container__cats {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

@media screen and (width >= 800px) {
    .container__cats{
        flex-direction: row;
    }
}


.container__cats-title {
    background-color: aquamarine;
    text-align: center;
    font-size: 48px;
    margin-top: 60px;
}

.container__cats-text {
    background-color: aquamarine;
    text-align: center;
    font-size: 20px;
}


.card {
    padding: 3px;
    margin: 10px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-img-top {
    /* max-width: fit-content; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cats {
    background-color: blueviolet;
    margin-top: 150px;
    margin-bottom: 30px;
}

.kitten {
    background-color: yellowgreen;
    margin-top: 150px;
    margin-bottom: 30px;
}

.img-head {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container__footer {
    display: flex;
    border: solid 2px black;
    border-radius: 20px;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.container__footer-title {
    text-align: center;
    background-color: aliceblue;
    margin-top: 30px;
    font-size: 25px;
    border-radius: 20px;

}

.container__footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__footer-contact {
    text-align: center;
    font-size: 20px;
}

span {
    font-weight: bolder;
}

a {
    color: black;
}

footer {
    background: linear-gradient(45deg, white,#00CED1,#00CED1, #5F9EA0,white);
}