.nav__container-logo{
    display: block;
    margin: 0px auto;
}

.navbar{
    background: linear-gradient(45deg, white,#00CED1,#00CED1, #5F9EA0)
}

@media screen and (width <= 800px){
    .nav__container-logo{
        width: 50%;
    }
}


.container__cats{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}


.container__cats-title{
    background-color: aquamarine;
    text-align: center;
    font-size: 48px;
    margin-top: 60px;
}

.container__cats-text{
    background-color: aquamarine;
    text-align: center;
    font-size: 20px;
}


.card{
    padding: 3px;
    margin: 10px;
    text-align: center;
}

.card-img-top{
    max-width: fit-content;
}

.cats{
    background-color: blueviolet;
}

.kitten{
    background-color: yellowgreen;
}

.img-head{
    width: 20%;
}

